.container{
    background-color: red;
    display: flex;
    justify-content: center;

}
.filter{
    background-color: green;
    display: flex;
    justify-content: center;
}
#out {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}
.insurance {
    display: flex;
    flex-direction: row; 
}